<!-- Navbar -->
<nav
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  "
>
  <button
    (click)="handleLeftButtonClick()"
    style="
      border: none;
      background: none;
      cursor: pointer;
      margin-right: 10px;
    "
  >
    <img
      src="assets/left-icon.png"
      alt="Information Button"
      style="width: 30px; height: 30px; object-fit: contain"
    />
  </button>

  <h1 style="margin: 0">{{ title }}</h1>

  <div style="display: flex; align-items: center">
    <button
      (click)="toggleAudio()"
      style="border: none; background: none; cursor: pointer"
    >
      <img
        [src]="audioPlaying ? 'assets/sound.png' : 'assets/mute.png'"
        alt="Mute / Turn on Music"
        style="width: 30px; height: 30px; object-fit: contain"
      />
    </button>
    <button
      (click)="cambiarIdioma()"
      style="
        border: none;
        background: none;
        cursor: pointer;
        margin-left: 10px;
      "
    >
      <img
        [src]="bandera"
        alt="Change Language"
        style="width: auto; height: 30px; object-fit: contain"
      />
    </button>
  </div>
</nav>

<!-- Contenido Principal -->
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: calc(100vh - 60px);
    text-align: center;
    overflow: visible;
  "
>
  <p
    [ngClass]="animationClass"
    style="
      font-family: 'Oswald', sans-serif;
      font-size: 1.6rem;
      line-height: 1.5;
    "
  >
    {{ texto_random }}
  </p>
  <app-leaf-component></app-leaf-component>

  <button
    (click)="actualizarTexto()"
    style="
      margin-top: 40px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    "
    onmouseover="this.style.backgroundColor='#0056b3'"
    onmouseout="this.style.backgroundColor='#007bff'"
  >
    Generar texto aleatorio
  </button>
</div>

<!-- Modal -->
<app-modal *ngIf="mostrarModal" (close)="cerrarModal()"></app-modal>
